@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem;
}

.container .logo-responsive {
  display: none;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0.5rem;
}

.logo-text h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 37px;
  color: #efc0ff;
}

.logo-text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 6px;
  color: #e6eff8;
}

main {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 6rem;
}
.container {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background: #242121;
  box-shadow: 11px 11px 22px #181616;
}

.title-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.title-register h3 {
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin: 0.5rem;
}

.title-register p {
  font-weight: 400;
  font-size: 15px;
  color: white;
  margin: 0.5rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  font-size: 15px;
  padding-left: 10px;
  position: relative;
}

input {
  margin: 0.2rem;
  width: 18rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.icon-password ion-icon{
  font-size: 1.5rem;
  color: #bf5fe1;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  cursor: pointer;
}

.remember {
  padding-left: 0.3rem;
  margin: 1rem;
  font-size: 15px;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remember-input {
  display: flex;
  align-items: center;
}

.remember-input input {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.remember-input p {
  color: white;
  margin: 0.5rem;
  font-weight: 200;
  text-align: center;
}

.remember a {
  text-decoration: none;
  text-align: center;
  color: #bf5fe1;
}
.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
}
.violet-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 18rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: #bf5fe1;
  font-weight: 600;
}

.not-register {
  padding-left: 0.3rem;
  margin: 1rem;
  font-size: 15px;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.not-register p {
  color: white;
}
.not-register a {
  color: #bf5fe1;
  text-decoration: none;
}

.gap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}

.gap .line {
  border-bottom: solid 1px grey;
  width: 60%;
}

.gap p {
  color: white;
}

.log-in-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-btns button {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  width: 18rem;
  height: 3rem;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
}

.log-in-btns button p {
  display: flex;
  width: 60%;
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 550px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .container {
    justify-content: center;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .container .logo-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    display: none;
  }
}

@media (max-width: 768px) {
  header .logo {
    display: flex;
    justify-content: center;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
